<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Task</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            margin: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            background-color: #f8f9fa;
        }

        form {
            background-color: #ffffff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 300px;
            text-align: left;
            display: flex;
            flex-direction: column;
            align-items: center;
            border: 1px solid #ced4da; /* Added border */
        }

        label {
            color: #343a40;
            margin-bottom: 5px;
        }

        input,
        textarea {
            width: calc(100% - 16px); /* Adjusted width to consider padding */
            padding: 8px;
            margin-bottom: 10px;
            border: 1px solid #ced4da;
            border-radius: 4px;
            box-sizing: border-box;
        }

        button {
            background-color: #007bff;
            color: #fff;
            border: none;
            padding: 10px 15px;
            cursor: pointer;
            border-radius: 5px;
            font-size: 16px;
        }

        button:hover {
            background-color: #0056b3;
        }

        .home-link {
            margin-top: 20px;
            text-align: center;
        }

        .home-link a {
            text-decoration: none;
            color: #007bff;
            display: inline-block;
            padding: 10px 15px;
            border: 1px solid #007bff;
            border-radius: 5px;
            margin-top: 10px; /* Adjusted margin */
        }

        .home-link a:hover {
            background-color: #0056b3;
            color: #fff;
        }
    </style>
</head>
<body>

{# Display errors on the screen if there are any #}

{% if errors %}
    <ul>
        {% for error in errors %}
            <li>{{ error }}</li>
        {% endfor %}
    </ul>
{% endif %}

<form method="post" action="/">
    <div>
        <label for="name">Title</label>
        <input id="name" type="text" name="name" >
    </div>
    <div>
        <label for="description">Description</label>
        <textarea id="description" name="description" rows="10" cols="10" ></textarea>
    </div>
    <div>
        <button type="submit">Create</button>
        <a href="/">Back</a>
    </div>

</form>

</body>
</html>
